div {
	border-radius: 5px;
}

#header {
	z-index: 2;
	position: fixed;
	width: 98.5%;
	margin-top: -10px;
	height: 80px;
	background:center url(https://zevart.files.wordpress.com/2013/01/photography-collection-7-by-nami-hanna.jpg);
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 18px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
	
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 15px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-size:25px;
	font-family: Verdana, sans-serif;
	color:white;
}

.right p {
    
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color:white;
	
}

li {
	list-style-type: square;
	color:white;
	font-size:20px;
}

a:hover {
	font-weight: bold;
}

.left {
    background:left url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ56y_XygQBk7pAco1dL7trOgT5hlzIn3kS7ZkFSjxBRHHsX41Jiw);
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 500px;
	background-color: #ffcce6;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 500px;
	background-color: #ffe6e6;
	margin-bottom: 10px;
background:center  url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR_gnB9LW2ej183VPYR-aQl5edDur6-RmFCNfu-Zi8hRXUjXt2t);
}
#footer {
	position: relative;
	margin-top:100px;
	height: 50px;
	width:100%;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 25px;
	text-align:center;
	background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRjeLy_oMvuDOAxrZpGtlLWbkNkYAasowxaMiz0hs8mw_CcBX1K);
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}